.story-section{
	width:100%;
	padding-top:0px;
	padding-bottom:0px;
	background-color: #efefef;
	background-position:50%,50%;
	background-size: cover;
	height:auto;
	display: inline-block;
}

.story-section .container-fluid{
	padding:0px !important;
}
.remove-space{
	padding:0px !important;
}
.story-left-box{
	height: 100%;
}
.story-left-box img{
	height: 100%;
	object-fit: cover;
	width:100%;
}

.story-right-box{
	width:520px;
	margin:0 auto;
	text-align: left;
}

.story-right-box h2{
	font-size: 2.8rem;
	line-height: 1.7;
	font-weight:500;
	color:#000000;
}

.story-right-box h3{
	font-size: 1.2rem;
	line-height: 1;
	font-weight:400;
	color:#000000;
}	

.story-right-box a{
	display: inline-block;
	margin-top:15px !important;
	border:1px solid #000000;
	color:#000000;
	border-radius: 10px;
	padding:12px 40px;
	background-color:#efefef;
	margin-bottom:4rem;
}

.story-right-box a:hover{
	text-decoration: none;
	color:#ffffff;
	background-color:#000000;
}